body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 140px;
    border: 2px solid #adc178;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #adc178;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
    border-radius: 10px;
    border-top: 3px solid #e07a5f
}

p:hover, h3:hover {
    background: #be95c4;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: #2b2839
}

h4 {
     margin: 3px;
}

.btn {
    border-radius: 5px;
    border: 1px solid #61a5c2;
}

button:hover {
   background: #be95c4;
   border-radius: 6px;
}
